body{
    text-align: center;
    background: linear-gradient(#edee10,#f75bb2);
    
}

#tim{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border-width: 2px;
    border-color: blueviolet;
    border-style: solid;
    padding: 2px;
    
}

h2{
    color: chartreuse;
}

h1{
    color: aqua;
}

#welcome{
 margin-top:50px; 
    
}

h3{
    color: darkorange;
}

.menu{
 list-style: none;
font-family: fantasy;
position: absolute;
top: 10px;
right: 30px;
cursor: pointer;
}

.links{
    color: darkmagenta;
    float: left;
    font-family: sans-serif;
    font-size: 20px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.links:hover{
    background-color: coral;
 
}


#timn{
    font-family: 'Festive', cursive;
font-family: 'Fruktur', cursive;
font-family: 'Qahiri', sans-serif;
font-size: 60px;   
color: blue;    
}
